<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoka.bo.auth.RefreshTokenMapper">

    <delete id="deleteByUserIds">
        delete from bo_refresh_token
        where user_id in <foreach item="id" collection="ids" open="(" separator="," close=")">#{id}</foreach>
    </delete>

</mapper>
